.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  box-sizing: border-box;
  padding: 60px 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 108px;
}

.footer__logo {
  height: 39px;
  width: 105px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__social-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.footer__social-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  transition: color 1s linear;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__list-item:last-child {
  margin-bottom: 0px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 0px;
  margin-top: 0px;
}
